.all_game_card__container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24%, 1fr));
  grid-auto-rows: minmax(min-content, max-content);
  align-items: center;
  justify-items: center;
  gap: 1.2rem;
}

.home__header {
  height: 50vh;
  padding-top: 1rem;
  overflow: visible;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header__container h1 {
  font-size: 8rem;
}

.header__container h4 {
  font-size: 1.8rem;
  font-weight: 400;
}

/* ============== Med Devices(ipad) ============== */
@media screen and (max-width: 1124px) {
  .all_game_card__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
  header {
    height: 68vh;
  }

  .header__container h1 {
    font-size: 8rem;
  }
}

/* ============== Small Devices(phone) ============== */
@media screen and (max-width: 664px) {
  .all_game_card__container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 1rem;
  }
  header {
    height: 68vh;
  }

  .header__container h1 {
    font-size: 5rem;
  }

  .header__container h4 {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
